body {
    background-color: rgb(193, 215, 218); 
}
h1 {
    color: rgb(141, 214, 173);
    text-align: center;
    font-size: 50px;
}
p {
    color: rgb(188, 163, 36);
    font-size: 16px;
    text-align: center;
    font-weight: 200;
}
image {
    vertical-align: middle;
}  